* {
    font-family: 'Roboto', sans-serif !important;
}

.total {
    display: flex;
    justify-content: space-between;
}

.all-section {

    display: flex;
    width: 21%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(245, 245, 245);
    border-bottom: 2px white solid;
}

.all-section * {
    padding: 5px;
    flex-wrap: wrap;
}


.all-section h3 {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    text-decoration: 1px white underline;
    font-weight: 900;

}

.checkbox-divs {
    flex-wrap: nowrap;
    width: 100%;
}